* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
}

header {
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.head-line {
  font-size: 60px;
  width: 100%;
  height: 80px;
  text-align: center;
}

.img-anchor {
  height: 50px;
}

.img-header {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

footer {
  width: 100%;
  height: 60px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.footer-icon {
  width: 50px;
  height: 50px;
}

.footer-p {
  font-size: 20px;
}

.game-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.cols-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.image {
  width: 50%;
}

.image > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.col-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 50px;
}

.info-list-item {
  background-color: grey;
  margin: 0 0 10px 0;
}

.info-label {
  font-size: 20px;
  width: 100%;
  padding: 2px 5px;
}

.info-field {
  background-color: white;
  font-size: 20px;
  width: 100%;
  padding: 5px 5px;
}

.info-bottom {
  width: 100%;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 15px;
}
