@font-face {
  font-family: "Hammersmith";
  src: url("../assets/fonts/Hammersmith_One/HammersmithOne-Regular.ttf");
}

@font-face {
  font-family: "Marker";
  src: url("../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Hammersmith", sans-serif;
}

body {
  background-color: #e8ebff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
}

header {
  width: 100%;
  background-color: #7c40ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.header-title {
  color: #fff;
  font-family: "Marker", cursive;
}

.head-line {
  font-size: 60px;
  width: 100%;
  height: 90px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: #7c40ff 1.3px;
  font-family: "Marker", cursive;
}

.img-anchor {
  height: 50px;
}

.img-header {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #1c0947;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  align-items: center;
}

.footer-icon {
  width: 50px;
  height: 50px;
}

.footer-p {
  font-size: 20px;
  color: #fff;
}

.filters-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: left;
  margin-left: 25px;
}

.filters-list-item {
  margin: 0 0 10px 0;
}

.filter-label,
.filter-button {
  background-color: #7c40ff;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 5px;
  width: 100%;
  color: #fff;
  display: block;
}

.filter-select {
  font-size: 20px;
  padding: 5px 5px;
  width: 100%;
  background-color: #fff;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
}

.cols-wrapper,
.cols-wrapper-add {
  display: flex;
  margin-bottom: 10px;
}

.game-card {
  margin: 2%;
  margin-top: 0;
  background-color: #fff;
  width: 100%;
  max-width: 21%;
  text-align: left;
  position: relative;
  box-shadow: #b99aff 5px 5px;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
}

.game-card:hover {
  box-shadow: #b99aff 10px 10px;
  top: -5px;
  left: -5px;
}

.game-card:hover:before {
  transform: scale(2.15);
}

.game-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.game-title {
  margin: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: #363636;
}

.game-price {
  font-size: 1.1em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.game-price-free {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.delete-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-image: url("../assets/icons/delete.svg");
}

.game-card:hover .delete-button {
  display: block;
}

.delete-button:hover {
  background-image: url("../assets/icons/delete-active.svg");
}

.add-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.image-upload {
  width: 50%;
  margin-left: 50px;
}

.image-upload > input {
  display: none;
}

.image-upload > label > img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  cursor: pointer;
}

.col-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 50px;
}

.add-button {
  font-size: 30px;
  width: 200px;
  height: 100px;
  background-color: #7c40ff;
  color: #fff;
  font-weight: bold;
}

.add-bottom {
  width: 100%;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .game-card {
    max-width: 29%;
  }
}

@media (max-width: 950px) {
  .filters-list {
    width: 96%;
    flex-direction: row;
    align-items: inherit;
    margin: 0 2% 10px 2%;
  }
  .cols-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .filters-ul {
    display: flex;
    width: 90%;
  }

  .filter-button {
    width: 70px;
  }
}

@media (max-width: 575px) {
  .game-card {
    max-width: 46%;
  }

  .footer-icon,
  .img-header {
    width: 40px;
    height: 40px;
  }

  .img-anchor {
    width: 40px;
    height: 40px;
  }

  .filters-list {
    flex-direction: column;
  }

  .filters-ul,
  .add-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .filter-button {
    width: 100%;
    height: 60px;
  }

  .col-title {
    width: 100%;
    padding: 0 25px;
  }

  .add-bottom {
    padding: 0 25px;
  }

  .add-button {
    height: 60px;
  }

  .image-upload {
    width: calc(100% - 50px);
    margin: 0 25px;
  }

  .cols-wrapper-add {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .game-card {
    max-width: 96%;
  }

  .head-line {
    font-size: 50px;
    height: 70px;
  }
}
